// FONTS
$font-primary: 'Inter', Courier, sans-serif;

$small-font-size: 1.3rem;
$default-font-size: 1.6rem;
$medium-font-size: 2rem;
$large-font-size: 4rem;

// COLOR VARIABLES
$color-1: #ff6188;
$color-2: #fc9867;
$color-3: #ffd866; //yellow
$color-4: #a9dc76; //green
$color-5: #78dce8;
$color-6: #ab9df2;
$color-7: #1e293b;
$color-light: white;
$color-dark: #222222;
