@import url(/assets/fonts/inter.css);
@import url(/css/reset.css);
@import '__variables';
@import '__mixins';

html {
    font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px;
}

body {
    display: flex;
    flex-direction: column;
    font-family: $font-primary;
    font-size: $default-font-size;
    overflow: hidden;
}

header {
    .nav {
        background-color: $color-dark;
        color: $color-3;

        .container {
            display: flex;
            flex-direction: row;

            justify-content: space-around;
            align-items: center;

            .title {
                margin: 2rem;
                font-size: $medium-font-size;
                text-decoration: none;
                color: $color-3;
            }

            .search-bar {
                input[type='search'] {
                    width: 30vw;
                    margin-left: 1rem;
                    color: $color-dark;

                    &:active {
                        border: none;
                        color: $color-3;
                    }
                }
            }

            .create {
                display: flex;
                align-items: center;

                @include btn($color-dark, $color-3);

                .profile {
                    margin: 1rem 2rem 1rem;
                    background-color: $color-light;
                    width: 6rem;
                    aspect-ratio: 1/1;
                    overflow: hidden;
                    border-radius: 50%;

                    img {
                        display: block;
                        width: 100%;
                    }
                }
            }
        }
    }
}

//////////////////////////////////////////
@import '__animations';

.overlay {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // width: 100%;
    height: 100%;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: 0 blur(6px);
    z-index: 5;

    &--hidden {
        display: none;
        overflow: hidden;
    }
}

.hide-element {
    // opacity: 0;
    border: 0;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.show-element {
    opacity: 1;
}

.main {
    flex: 1;
    display: flex;

    .container {
        @include form(login, 99);
        @include form(registration, 99);
    }

    .section {
        &__menu {
            flex: 0 0 20vw;
            background-color: $color-7;
            color: $color-light;

            &-sidebar {
                margin-top: 2rem;
                text-decoration: none;
                list-style: none;

                @include btn($color-dark, $color-2);
                .btn-menu {
                    margin: 1rem;
                    i {
                        margin-right: 0.5rem;
                    }
                }
            }
        }

        &__content {
            flex: 1 0 65vw;
            background-color: $color-5;

            .users-table {
                border: none;

                margin: auto;
                background-color: $color-2;
                border-bottom: 1px solid black;
                box-shadow: 0 0 5px 2px black;
                width: 100%;
                text-align: center;

                tbody {
                    tr:nth-child(odd) {
                        background-color: $color-5;
                        padding: 2rem 0;
                    }

                    tr:nth-child(even) {
                        background-color: $color-light;
                        padding: 2rem 0;
                    }

                    td {
                        white-space: nowrap;
                        width: 30rem;
                        padding: 1rem 0.5rem;
                    }
                }

                table,
                tr,
                td {
                    border: none;
                }

                @include btn($color-dark, $color-2);

                .edit-user {
                    text-decoration: none;
                    font-weight: 700;
                }
            }
            .container {
                &__userdata {
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    // z-index: 99;
                    background-color: $color-5;
                    padding: 2rem 4rem;

                    &-title {
                        text-align: center;
                        margin-bottom: 3rem;
                        color: $color-dark;
                    }

                    .form {
                        &__userdata {
                            .container-0,
                            .container-1,
                            .container-2,
                            .container-3 {
                                display: flex;
                                gap: 4rem;
                            }

                            .container-gender,
                            .container-hobbies {
                                display: flex;
                                flex-direction: column;

                                .alignment {
                                    display: flex;
                                    align-items: center;
                                }

                                label,
                                input {
                                    clear: none;
                                    width: auto;
                                    padding: 0.5rem 1rem;
                                }
                            }

                            &-control {
                                margin: 2rem 0 2rem;
                                width: 30rem;
                                color: $color-dark;

                                input {
                                    background-color: transparent;
                                    border: 0;
                                    border-bottom: 2px $color-2 solid;
                                    width: 100%;
                                    // padding: 5px 0 5px;
                                    font-size: $medium-font-size;
                                    color: $color-dark;

                                    &:focus {
                                        outline: none;
                                        border-bottom-color: $color-6;
                                    }

                                    &::placeholder {
                                        color: $color-1;
                                        font-size: $default-font-size;
                                        font-weight: 100;
                                    }

                                    &:-webkit-autofill {
                                        background-clip: text;
                                        -webkit-background-clip: text;
                                        -webkit-text-fill-color: $color-light !important;
                                    }
                                }
                            }

                            .wrapper {
                                display: flex;
                                justify-content: space-evenly;

                                .form__userdata-btn {
                                    margin-top: 3rem;
                                    width: 30%;
                                    padding: 1rem;
                                    cursor: pointer;
                                    background: $color-2;
                                    font-family: inherit;
                                    font-weight: 600;
                                    border: 0;
                                    border-radius: 5px;
                                    color: $color-dark;

                                    &:focus {
                                        outline: 0;
                                    }

                                    &:active {
                                        transform: scale(0.98);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &__ads {
            flex: 0 0 15vw;
            background-color: $color-7;
            color: $color-light;
        }
    }
}

.footer {
    text-align: center;
    background-color: $color-dark;
    color: $color-3;
}
