<!DOCTYPE html>
<html>
<head>
  <title>My first proper HTML page</title>
</head>
<body>
  <h1>Hello world!</h1>
  <p>My first web page.</p>
  
  <template id="usersView">
    <div>{{name}}</div>
    <div>{{date}}</div>
  </template>
</body>
</html>